@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Outfit:wght@100..900&family=Tiro+Bangla&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing:border-box;
  font-family: Outfit;
}

#root{
  min-height: 10vh;
  display: flex;
}